#results {
  margin-top: 50px;
}
#results td {
  padding: 10px 15px;
  background-color: #fff;
}

#generate {
  padding: 7px 15px;
  border: 1px solid #ababab;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  margin-top: 10px;
  display: inline-block;
}
#generate:hover {
  background-color: black;
  color: #fff;
}

select {
  height: 40px !important;
}