#contact-form-7-db{
  padding: 50px 30px;
  
  @media (max-width: 481px){
    padding: 30px 15px;
  }
  
  display: flex;
  flex-wrap: wrap;
  
  >div{
    padding: 0 30px;
    box-sizing: border-box;
    
    @media(max-width: 481px){
      padding: 0 15px;
    }
  }
  
  .contact-form-db-filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    
    @media (max-width: 481px){
      width: 100%;
    }
    
    select, a{
      margin-bottom: 15px;
      
      &:last-child{
        margin-bottom: 0;
      }
    }
    
    select{
      width: 100%;
      height: 40px;
    }
    
    #get-records{
      padding: 7px 15px;
      border: 1px solid #ababab;
      cursor: pointer;
      border-radius: 5px;
      color: black;
      
      &:hover{
        background-color: black;
        color: #fff;
      }
    }
  }
  .main{
    width: calc(100% - 200px);
    
    @media (max-width: 481px){
      width: 100%;
    }
    
    .single-entry{
      margin-bottom: 30px;
      
      &:last-child{
        margin-bottom: 0;
      }
      
      td{
        padding: 10px 15px;
        background-color: #fff;
      }
    }
  }
}