#contact-form-7-db {
  padding: 50px 30px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 481px) {
  #contact-form-7-db {
    padding: 30px 15px;
  }
}
#contact-form-7-db > div {
  padding: 0 30px;
  box-sizing: border-box;
}
@media (max-width: 481px) {
  #contact-form-7-db > div {
    padding: 0 15px;
  }
}
#contact-form-7-db .contact-form-db-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}
@media (max-width: 481px) {
  #contact-form-7-db .contact-form-db-filter {
    width: 100%;
  }
}
#contact-form-7-db .contact-form-db-filter select, #contact-form-7-db .contact-form-db-filter a {
  margin-bottom: 15px;
}
#contact-form-7-db .contact-form-db-filter select:last-child, #contact-form-7-db .contact-form-db-filter a:last-child {
  margin-bottom: 0;
}
#contact-form-7-db .contact-form-db-filter select {
  width: 100%;
  height: 40px;
}
#contact-form-7-db .contact-form-db-filter #get-records {
  padding: 7px 15px;
  border: 1px solid #ababab;
  cursor: pointer;
  border-radius: 5px;
  color: black;
}
#contact-form-7-db .contact-form-db-filter #get-records:hover {
  background-color: black;
  color: #fff;
}
#contact-form-7-db .main {
  width: calc(100% - 200px);
}
@media (max-width: 481px) {
  #contact-form-7-db .main {
    width: 100%;
  }
}
#contact-form-7-db .main .single-entry {
  margin-bottom: 30px;
}
#contact-form-7-db .main .single-entry:last-child {
  margin-bottom: 0;
}
#contact-form-7-db .main .single-entry td {
  padding: 10px 15px;
  background-color: #fff;
}